.loading {
  text-align: center;
  font-size: 25px;
  color: hsl(267, 93%, 53%);
}

.faqs{
  padding: auto;
  margin: auto;
  position: relative;
  top: -150px;
  width: 570px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
}

h1{
  margin-left: 25px;
  padding-top: 35px;
}

.icon-star{
  margin-right: 25px;
  width: 35px;
  height: 35px;
}

.title {
  font-size: 45px;
  font-weight: 700;
  margin: auto;
  padding: auto;
  color: hsl(292, 42%, 14%);
}

.faqAccordion {
    margin-left: 25px;
    margin-right: 25px;
  padding-bottom: 10px;
}


