.App {
  width: 900px;
  
  border-radius: 30px;
  padding: auto;
  margin:auto;
  background-color: hsl(0, 0%, 100%);
}


  img {
    width: 800px;
  height: 400px;
  margin-left: 50px;
  margin-top: 50px;
  border-radius: 25px;
  }


